Source: homestead
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: homestead-libs
Architecture: any
Depends: libsctp1
Description: Libraries for homestead

Package: homestead-libs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: homestead-libs (= ${binary:Version})
Recommends: gdb, libevent-dbg
Description: Debugging symbols for homestead-libs

Package: homestead
Architecture: any
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-log-cleanup, homestead-libs, libboost-regex1.46.1, libzmq3, libevent-pthreads-2.0-5, gnutls-bin
Suggests: homestead-dbg, clearwater-logging, clearwater-snmp-handler-homestead, clearwater-snmp-handler-alarm
Description: homestead, the HSS Cache/Gateway

Package: homestead-dbg
Architecture: any
Section: debug
Priority: extra
Depends: homestead (= ${binary:Version})
Recommends: gdb, homestead-libs-dbg
Description: Debugging symbols for homestead, the HSS Cache/Gateway
