Source: homestead
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: homestead-libs
Architecture: any
Depends: libsctp1, libevent-2.0-5, libevent-pthreads-2.0-5
Description: Libraries for homestead

Package: homestead-libs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: homestead-libs (= ${binary:Version})
Recommends: gdb, libevent-dbg
Description: Debugging symbols for homestead-libs

Package: homestead-node
Architecture: any
Depends: homestead (= ${binary:Version}), homestead-prov, homestead-cassandra, homestead-prov-cassandra
Description: Homestead, the HSS Cache/Gateway node

Package: homestead-node-dbg
Architecture: any
Section: debug
Priority: extra
Depends: homestead-node (= ${binary:Version})
Recommends: homestead-dbg
Description: Debugging symbols for homestead-node, the HSS Cache/Gateway node

Package: homestead-cx-node
Architecture: any
Depends: homestead (= ${binary:Version}), homestead-cassandra
Description: Homestead, the HSS Cache/Gateway node

Package: homestead-cx-node-dbg
Architecture: any
Section: debug
Priority: extra
Depends: homestead-cx-node (= ${binary:Version})
Recommends: homestead-dbg
Description: Debugging symbols for homestead-cx-node, the HSS Cache/Gateway node

Package: homestead
Architecture: any
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-log-cleanup, homestead-libs, libboost-regex1.54.0, libzmq3, libcurl3-gnutls, gnutls-bin, clearwater-socket-factory, libboost-filesystem1.54.0, libsnmp30 (>= 5.7.2~dfsg-clearwater5), clearwater-monit, clearwater-nginx, clearwater-snmpd
Suggests: homestead-dbg, clearwater-logging, clearwater-snmp-alarm-agent
Description: Homestead, the HSS Cache/Gateway

Package: homestead-dbg
Architecture: any
Section: debug
Priority: extra
Depends: homestead (= ${binary:Version})
Recommends: gdb, homestead-libs-dbg
Description: Debugging symbols for homestead, the HSS Cache/Gateway

Package: homestead-cassandra
Architecture: any
Depends: clearwater-cassandra, clearwater-infrastructure
Description: Commissions a Cassandra node so that it can be used as a backend for the homestead package
